@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.line-with-text {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  flex: 1;
  height: 2px;
  background-color: black;
}

.text {
  padding: 0 10px;
  white-space: nowrap;
}

.list {
  list-style-type: none;
}

.price {
  font-weight: bold;
}